/* Wildcard selector to override default settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav>a:hover {
    color: goldenrod;
}

/* Header */
header {
    width: 100%;
    background-color: rgb(182, 62, 7);
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid goldenrod;
}

/* Navbar */
#nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: rgb(182, 62, 7);
    padding: 5px;
}

/* Main Content */
main {
    width: 100%;
    /* Let main element expand to push down footer */
    flex: 1 0 auto;
}

#feedback-form {
    margin: 20px auto;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 20px;
    width: 255px;
    height: 350px;
}

.text-entry {
    margin: 10px 5px 10px 5px;
}

#feedback > h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 160%;
}

/* Footer */
footer {
    width: 100%;
    color: black;
    background-color: rgb(182, 62, 7);
    font-size: 160%;
    text-align: center;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
}

footer>h2 {
    padding: 10px 5px;
}